a:link, a:visited, a:hover, a:active {
	color: #2d3c49;
}

#logo {
	float: left;
}

#name {
	margin: 0;
	text-align: right;
	color: #2d3c49;
	font: 100 2.3em 'Raleway', sans-serif;
	text-transform: uppercase;
}

#details {
	margin: 0;
	text-align: right;
	color: #2d3c49;
	text-transform: uppercase;
	font: lighter 1em sans-serif;
}

#thanks {
	font: lighter 1.5em 'Caveat', cursive;
	text-align: center;
	margin: 0;
}

#blog {
	border-top: .3em solid #7d97ad;
	background: #eff1f4;
	font-family: sans-serif;
}

#intro {
	margin: 0;
	height: 10%;
	padding: .2em .5em;
	color: #2d3c49;
	font: 800 1em 'Raleway', sans-serif;
}

#featured-title {
	text-align: left;
	color: #a0a0a5;
	font: lighter 2em sans-serif;
}

.essay-title {
	text-align: center;
	margin: 6px auto;
	padding: 0;
	color: #2d3c49;
	font: 900 1.2em 'Raleway', sans-serif;
}

article {
	margin: 6px auto;
	padding: 1em;
}

.work {
	height: 245px;
	/*in case the browser asigns a larger margin*/
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
}

.work-img {
	width: 100%;
	height: 80%;
}

.work-title {
	text-align: center;
	margin: 0;
	height: 10%;
	padding: .2em .5em;
	color: #2d3c49;
	font: 500 1.2em 'Raleway', sans-serif;
}

@media (min-width: 576px) {
	#logo {
		max-width: 4.5em;
		max-height: 4.5em;
 	}
}

@media (max-width: 575px) {
	#logo {
		max-width: 2.5em;
		max-height: 2.5em;
 	}

 	#name {
 		font-size: 1.5em;
 	}
}