h1, h2, h3, footer{
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	color: #2d3c49;
} 

@media (min-width: 576px){
	#logo {
		max-width: 5.5em;
		max-height: 5.5em;
		float: left;
 	}
 }

@media (max-width: 575px){
	#logo{
		width: 4em;
		height: 4em;
	}
}

@media (max-width: 383px){
	#logo{
		width: 3em;
		height: 3em;
	}
}


#name {
	margin: 0;
	float: right;
	/*font-size: 3em;*/
	font-weight: 100;
	color: #2d3c49;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;

}

#details {
	margin: 0;
	float: right;
	clear: right;
	/*font-size: 1.2em;*/
	font-weight: lighter;
	color: #2d3c49;
	text-transform: uppercase;
	font-family: sans-serif;
}

#blog {
	border-style: solid;
	border-color: #7d97ad transparent transparent transparent;
	border-top-width: .3em;
	background-color: #eff1f4;
	font-family: sans-serif;
}

#intro {
	margin: 0;
	height: 10%;
	padding: .2em .5em;
	color: #2d3c49;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
}

#featured-title{
	float: left;
	color: #a0a0a5;
	font-family: sans-serif;
	font-size: 2em;
	font-weight: lighter;
}

.work {
	height: 245px;
	/*in case the browser asigns a larger margin*/
	margin: 0;
	padding: 15px;
	box-sizing: border-box;
}
.work-title {
	margin: 0;
	height: 10%;
	padding: .2em .5em;
	color: #2d3c49;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
